@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --txt: rgb(255, 255, 255);
    --c1: #130f1f;
    --c2: #19355d;
    --c3: #505ba3;
    --c4: #a285f3;
    --c5: #ffc0f5;
    --c6: #ffb5b5;
}

body {
    background-color: var(--c4);
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    display: flex;
}

.wrapper .static-txt {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.wrapper .dynamic-txts {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    color: #ff6fff;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-txts li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}

.dy {
    text-align: center;
}

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(222, 187, 216, 0.4);
    border-left: 2px solid var(--c6);
    animation: typing 3s steps(10) infinite;
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}

.dropdown {
    min-width: 1em;
    position: absolute;
    width: 20%;
    float: left;
    left: 0;
    top: 0;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background-color: var(#222);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px var(--c4) solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: dropdown 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes dropdown {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.dropdown:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.select-clicked {
    border: 2px var(--c1) solid;
    background-color: var(--c2);
    box-shadow: 0 0 0.8em var(--c2);
}

.select:hover {
    background: var(--c5);
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: var(--c4);
    border: 1px var(--c3) solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: var(--c1);
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: .5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background-color: var(--c5);
}

.active {
    border-radius: 10px;
    padding: .5rem;
    border: 2px solid var(--c5);
}

.menu-open {
    margin-top: 10px;
    display: block;
    opacity: 1;

}

.home {
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    top: 25px;
    right: 45%;
    color: black !important;
    position: absolute;

}

.home a {
    padding: 1rem;
    color: var(--c1) !important;
}

.home a:hover {
    color: white !important;
    background-color: var(--c6);

    border-radius: 20px;
}